.popup__button-save {
    width: 100%;
    min-height: 50px;
    border: none;
    border-radius: 2px;
    background-color: #000000;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
    transition: opacity 0.25s;
    margin: 48px 0 0;
}

.popup__button-save:hover {
    opacity: 0.8;
    cursor: pointer;
}

/*Для экранов с расширением  320-767*/
@media screen and (max-width: 767px) {
    .popup__button-save {
        font-size: 14px;
        line-height: 17px;
    }
}