.popup__content {
    /* width: 100%; */
    max-width: 430px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    box-sizing: border-box;
    padding: 36px;
    position: relative;
}

/*Для экранов с расширением  320-767*/
@media screen and (max-width: 767px) {
    .popup__content {
      padding: 25px 22px;
    }
  }