.element__button-like {
    background: transparent url('../../../images/Vector-like.svg') center no-repeat;
    background-size: 18px 20px;
    width: 20px;
    height: 18px;
    border: none;
    padding: 0;
    flex-shrink: 0;
    transition: opacity 0.25s;
}

.element__button-like:hover {
opacity: 0.6;
cursor: pointer;
}